.error-message {
	display:none;
	
	&.visible {
		display:inline-block;
		background:$errorRed;
		position:absolute;
		font-family:$webfont_italic;
		-webkit-font-smoothing: antialiased;
		@include rem("font-size",14);
		@include rem("top",30);
		left:0;
		@include rem("padding",5,25);
		@include rem("letter-spacing",.5);
		@include roundedCorners(4);
		color: white;
	}

	.tick-mark {
		display:inline-block;
		@include rem("width", 9);
		@include rem("height", 9);
		background:$errorRed;
		content:"Arrow";
		@include rem("text-indent", -9999);
		position:absolute;
		transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		@include rem("bottom", -3);
		text-align:center;
	}
	.tick-mark-top{
		@include rem("top", -3);
	}
}