// -----------------------------------------
	// Layout Breakpoints
// -----------------------------------------
$maxWidth: 1280;


// -----------------------------------------
	// Font Sizes
// -----------------------------------------
$regularSize: 12;


// -----------------------------------------
	// Colors
// -----------------------------------------
$darkGrey: #333;
$errorRed: #da4c45;
$navyBlue: #5580a0;

// -----------------------------------------
	// Font Families
// -----------------------------------------
$helvetica: Helvetica, Arial, sans-serif;