// -----------------------------------------
	// Layout Breakpoints
// -----------------------------------------
$maxWidth: 1280;


// -----------------------------------------
	// Font Sizes
// -----------------------------------------
$regularSize: 12;


// -----------------------------------------
	// Colors
// -----------------------------------------
$darkGrey: #333;
$errorRed: #da4c45;
$navyBlue: #5580a0;

// -----------------------------------------
	// Font Families
// -----------------------------------------
$webfont: 'webfont', Helvetica, Arial, sans-serif;
$webfont_italic: 'webfont_italic', Helvetica, Arial, sans-serif;
$webfont_bold: 'webfont_bold', Helvetica, Arial, sans-serif;
$webfont_bold_italic: 'webfont_bold_italic', Helvetica, Arial, sans-serif;
$webfont_light: 'webfont_light', Helvetica, Arial, sans-serif;
$webfont_italic: 'webfont_italic', Helvetica, Arial, sans-serif;
$webfont_light_italic: 'webfont_light_italic', Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$gotham: 'Gotham_SSm_4r', Helvetica, Arial, sans-serif;
$gothamMedium: 'Gotham_SSm_5r', Helvetica, Arial, sans-serif;
$gothamLight: 'Gotham_SSm_3r', Helvetica, Arial, sans-serif;
$gothamBook: 'Gotham_SSm_4r', Helvetica, Arial, sans-serif;
$gothamBold: 'Gotham_SSm_7r', Helvetica, Arial, sans-serif;